@charset "utf-8";
/* CSS Document */

/*--------------   SITE NAME   --------------*/


/*============================================*/
/*--------------- BASE STYLES ----------------*/
/*============================================*/


body {
    font-size:100%;
    text-align: center;
}
.wrap {
    width:960px;
    padding:0px 10px;
    text-align: left;
    margin:auto;
}



/*============================================*/
/*---------------- TYPOGRAPHY ----------------*/
/*============================================*/






/*============================================*/
/*------------------ LAYOUT ------------------*/
/*============================================*/







/*============================================*/
/*------------------- FORMS ------------------*/
/*============================================*/







/*============================================*/
/*--------------- MEDIA QUERIES --------------*/
/*============================================*/